fastapi
uvicorn
python-dotenv
huggingface_hub
chromadb
langchain
pinecone-client
openai
langchain-text-splitters
pydantic
tiktoken
langsmith
langchain-core
langchain
langchain-community
langchain-huggingface
sentence-transformers
langchain-google-genai
langchain-chroma
langchain-pinecone
black
isort